body {
  color: var(--dark);
  background-color: var(--light);
}

:root {
  --blue: #1e90ff;
  --light: #faefed;
  --darker: #eecdc8;
  --dark: #212032;
  --black: #111111;
  --grey: #9b9b9b;
  --white: #fff;
}
